@charset "utf-8";

@media (max-width:699px){
  .map_tit>h2{
    width:60%;
  }

  .redlist_left{
    padding-bottom:50px;
  }
  .redlist>.container>.redlist_left{
    width:100%;
  }
  .redlist_right{
    width:100%;
  }
}