@charset "utf-8";

/* 869px이하 모바일 */
@media (max-width:869px){
  /* header */
  .header{
    width:100%;
  }
  .navbar_toggle{
    display:block; position:absolute; top:25px; right:20px;
    font-size:25px; outline:none; background-color:white; color:#333333;
  }
  .header_right{
    position:fixed; top:0; right:0; z-index: 1000; align-items:unset; width:0; overflow: hidden;
  height:auto; transition: 0.3s;
  }
  .header_right.on{
  width:300px;
  }

  #clobtn{
  display:block; cursor: pointer;
  }
  .header_right nav{
    width:250px;
  }
  .header_right nav>ul{
    display:flex; flex-flow:column; align-items:center; 
    width:250px; height:100vh; padding-top:80px;
    z-index:60; background-color:rgb(229, 230, 232);
  }
  .header_right nav>ul>li{
    font-size:16px; padding:30px 0; color:#333333
  }
  .search_bar{
    position: absolute; top:500px; right:-5px;
  }
  .search_bar>.input_text{
    background-color:white; color:#333333;
    font-family:'Noto Sans KR'
  }

  .atc01_redlist{
    display:flex; flex-flow:column;
  }
  .atc01_tit{
    text-align:center;
  }
  .atc01_img{
    width:100%; margin:0 0 80px 0;
  }
  .atc01_text {
    height:auto;
  }
  .atc01_btn{
    margin:0 auto;
  }
  .atc02_kind{
    display:flex; flex-flow:column nowrap; height:auto;
  }
  .atc02_tit{
    text-align:center;
  }
  .atc02_kind .atc02_txt_num{
    width:100%;
  }
  .atc02_txt_num{
    justify-content:center; text-align:center;
    padding-bottom:30px; 
  }
  .atc02_num{
    width:100px;
    padding-right:0;
  }

  .atc02_img{
    padding-left:18%;
  }
  .area .area_img {
  width:85%;
  };
  .swiper-container {
  width: 190px;
  }
}



/* 699px최대 slide */
@media (max-width:699px){
  .swiper-container {
    width:405px;
    }
  }



@media (max-width:479px){
  .main_banner{
    height:600px
  }
  .main_banner .main_banner_bg{
    height:600px;
  }
  .main_banner h1{
    font-size:10vw
  }
  .atc02_tit h2{
    width:260px; margin:0 auto;
  }
  .area .area_img {
    width:100%;
  };

/* 479px최대 slide */
  .swiper-container {
    width:190px;
    }

  /* footer */
  .app_download p:first-child{
    width: 80%; margin: 0 auto; line-height:30px;
  }
  .area01_img img{
    width:154px; height:260px
  }
  .swiper-container {
    width:190px; padding-top:20px;
    transform: scale(1.2);
  }
  .swiper-button-next,
  .swiper-button-prev{
    width:25px; height:25px
  }
}



@media (max-width:380px){
  .atc02_txt_num{
    justify-content:left;
  }
  .atc02_num{
    width:50%;
  }
  .area01_img img{
    width:124px; height:210px
  }
  .app_download button:first-child{
    margin-right:10px
  }
}